---
---
<footer class="flex flex-col items-center justify-center gap-8 font-medium text-xs text-Heavy-Green tracking-[-0.2px]">
  <ul class="flex justify-center items-center gap-4 font-gt">
    <li><a href="https://www.behance.net/devtor14">Behance</a></li>
    <li><a href="https://github.com/devtor14">Github</a></li>
    <li><a href="https://www.instagram.com/hector_14oo/">Instagram</a></li>
    <li><a href="https://www.linkedin.com/in/devtor14/">LinkedIn</a></li>
    <li><a href="https://drive.google.com/file/d/1PNSwveiSeecbruczs28ngFfCiqftCVrC/view">Resume</a></li>
  </ul>
  <span class="font-acorn">© 2025 Héctor Davila</span>
</footer>