---
---

<header class="w-full">
  <nav class="w-full">
    <ul class='w-full px-3 py-2 x480:p-3 flex items-center justify-center x480:gap-[14px] x768:gap-4 font-gt font-normal text-xs x480:text-sm x768:text-base text-Black bg-Soft-White rounded-full'>
      <li>
        <a href='#' class='inline-block px-3 py-2 x480:px-[14px] x480:py-[7px] cursor-pointer bg-Soft-Green rounded-full'>Work in Progress</a>
      </li> 
      <!-- <li>
        <a href='/' class='inline-block px-3 py-2 x480:px-[14px] x480:py-[7px] cursor-pointer bg-Soft-Green rounded-full'>Experience</a>
      </li> 
      <li>
        <a href='/projects' class='inline-block px-3 py-2 x480:px-[14px] x480:py-[7px] cursor-pointer bg-transparent rounded-full'>Projects</a>
      </li>
      <li>
        <a href='/about' class='inline-block px-3 py-2 x480:px-[14px] x480:py-[7px] cursor-pointer bg-transparent rounded-full'>About</a>
      </li>
      <li>
        <a href='/contact' class='inline-block px-3 py-2 x480:px-[14px] x480:py-[7px] cursor-pointer bg-transparent rounded-full'>Contact</a>
      </li> -->
    </ul>
  </nav>
</header>