---
---
<section>
  <h1 class='Colors mb-4 font-acorn font-bold text-[40px] x768:text-6xl text-center text-Black'>
    <slot name="Title"/>
  </h1>
  <p class='Colors font-gt font-normal text-xs x768:text-base text-center text-Black'>
    <slot name="Paragraph" />
  </p>
</section>